src/main/resources/xsd/BioSampleValidate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BioSampleValidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Action">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Response">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Message">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="error_code"/>
                            <xs:attribute type="xs:string" name="severity"/>
                            <xs:attribute type="xs:string" name="error_source"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Object">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Details">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Organism">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="OrganismName"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="taxonomy_id"/>
                                    <xs:attribute type="xs:string" name="taxonomy_name"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="target_db"/>
                        <xs:attribute type="xs:string" name="object_id"/>
                        <xs:attribute type="xs:string" name="spuid"/>
                        <xs:attribute type="xs:string" name="spuid_namespace"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="status"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="status"/>
            <xs:attribute type="xs:string" name="action_id"/>
            <xs:attribute type="xs:string" name="target_db"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
